body {
    font-family: 'Manrope', Courier, monospace;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    min-width: 1400px;
}

h1, h2, h3, div, p, a {
    font-weight: 400;

    letter-spacing: -0.03em;
    color: #121212;
}

.container {
    margin: 0 auto;
    width: 1400px;

    padding-left: 125px;
    padding-right: 125px;
}

h1 {
    width: 965px;

    font-size: 60px;
    line-height: 60px;   
}

h2 {
    font-size: 18px;
    line-height: 25px;   
}

h3 {
    font-size: 30px;
    line-height: 41px;
}

header {
    margin-top: 33px;
}

.met__logo {
    display: inline-block;
}

.metrika {
    display: block;
}

.metrika__nav {
    float: right;   
}

.metrika__nav a:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.metrika__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #121212;
}

.metrika__link:not(:last-child) {
    margin-right: 60px;
}

.intro {
    margin-top: 74px;
}

.about {
    margin-top: 150px;
}

.aboutus__title {
    width: 1048px;
    
    font-size: 45px;
    line-height: 61.47px;

    margin-top: 30px;

    color: #121212;  
}

.image__body {
    width: 1150px;
    height: 500px;

    margin-top: 30px;

    background-image: url('../resources/image-body.png');

    position: relative;
    
    background-size: cover;
}

.image__body__text {
    width: 430px;

    position: absolute;

    top: 379px;
    left: 40px;
    
    font-size: 20px;
    line-height: 27.32px;
    
    color: #FFFFFF;
}

.aboutus__btn {
    display: block;

    width: 255px;
    height: 67px;

    margin-top: 30px;

    border-radius: 5px;

    font-size: 20px;
    line-height: 67px;

    cursor: pointer;

    border: 1px solid #AD1818;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #AD1818;
}

.aboutus__btn:hover {
    color: #AD1818;
    background-color: #FFFFFF;
}

.projects {
    margin-top: 150px;
}

.project__list {
    margin-top: 30px;
}

.project__part {
    margin-top: 90px;
}

.project__part:nth-child(1) {
    margin-top: 0px;
}

.project__description {
    margin-top: 15px;
    margin-bottom: 15px; 

    color: #121212; 
}

.project__link {
    width: 127px;
    height: 27px;

    text-decoration: none;

    color: #AD1818;
}

.project__btn {
    width: 100%;
    height: 153px;

    text-align: center;
    line-height: 153px;

    display: block;

    font-size: 30px;
    line-height: 153px;  

    margin-top: 90px;

    border-radius: 5px;

    cursor: pointer;

    text-decoration: none;

    border: 1px solid #AD1818;

    color: #AD1818;
}

.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

.services { 
    margin-top: 150px;
      
    background-color: #121212;
}

.services h2 {
    padding-top: 151px;
    padding-bottom: 34px;

    color: #FFFFFF;
}

.services__part {
    padding-bottom: 60px;
}

.services__part:nth-child(4) {
    padding-bottom: 150px;
}

.services__image {
    margin-bottom: 15px;
}


.services__description {
    color: #FFFFFF;
}

.fullscreenmode {
    height: 717px;
    background-image: url('../resources/poolimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    position: relative;
}

.fullscreenmode p {
    position: absolute;

    bottom: 60px;

    color: #FFFFFF;

    width: 443px;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -1px  
}

.contacts {
    margin-top: 150px;
    margin-bottom: 150px;
}

.contacts h2 {
    position: relative;
}

.contacts h2:before {
    content: '';
    position: absolute;
    display: block;
    top: -36px;
    left: -4px;
    width: 24px;
    height: 24px;
    background-image: url(../resources/miniphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contacts__item {
    display: inline-block;
    margin-top: 32px;
    font-size: 60px;

    text-decoration: none;
}

.contacts__item:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
    background: #121212;
    padding: 60px 0 30px;
}

.footer__nav {
    width: 460px;
    margin: auto;
}

.footer__nav a:nth-last-child(4) {
    margin-left: 0px;
}

.footer__nav a {
    margin-left: 53px;
    font-size: 18px;
    line-height: 24.59px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__nav a:hover {
    opacity: 0.5;
} 

.footer__text {
    margin-top: 87px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    opacity: 0.5;
}