body {
    font-family: 'Manrope', Courier, monospace;

    background-color: #F5F5F5;   
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, div, p, a {
    letter-spacing: -0.03em;
    color: #121212;
}

.container {
    width: 1400px;
    
    margin: 0 auto;

    background-color: #FFFFFF; 
}

.cap {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 33px;
}

.cap__logo {
    display: inline-block;
}

.cap__metrika {
    display: block;
}

.cap__nav {
    display: inline-block;
    vertical-align: top;
    float: right; 
}

.cap__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #121212;
}

.cap__link:not(:last-child) {
    margin-right: 60px;
}

.cap__link_active {
    text-decoration: underline;
}

.header {
    padding-left: 125px;
    padding-right: 125px;  

    padding-top: 128px; 

    box-sizing: border-box;
}

h1 {
    width: 965px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;   
}

h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 150px;   
}


.aboutus__title {
    width: 1048px;
    
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;

    margin-top: 30px;

    color: #121212;  
}

.image-body {
    width: 1150px;
    height: 500px;

    margin-top: 30px;

    background-image: url('../resources/image-body.png');

    position: relative;
    
    background-size: cover;
}

.image-body-text {
    width: 430px;

    position: absolute;

    top: 379px;
    left: 40px;
    
    font-size: 20px;
    line-height: 27.32px;
    
    color: #FFFFFF;
}

.aboutus__btn {
    display: block;

    width: 255px;
    height: 67px;

    margin-top: 30px;

    border-radius: 5px;

    font-size: 20px;
    line-height: 67px;

    cursor: pointer;

    border: 1px solid #AD1818;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #AD1818;
}

.aboutus__btn:hover {
    color: #AD1818;
    background-color: #FFFFFF;
}

.projects {
    padding-left: 125px;
    padding-right: 125px;
    box-sizing: border-box;
}

.item {
    width: 1150px;
    margin-top: 30px;
}

.project {
    margin-top: 90px;
}

.project:nth-last-child(4) {
    margin-top: 0px;
}

.project__descr {
    width: 1100px;
    height: 41px;

    margin-top: 15px;
    margin-bottom: 15px; 

    font-weight: 400;
    font-size: 30px;
    line-height: 41px;

    color: #121212; 
}

.project__link {
    width: 127px;
    height: 27px;

    text-decoration: none;

    color: #AD1818;
}

.project__btn {
    width: 100%;
    height: 153px;

    text-align: center;
    line-height: 153px;

    display: block;

    font-weight: 400;
    font-size: 30px;
    line-height: 153px;  

    margin-top: 90px;

    border-radius: 5px;

    cursor: pointer;

    text-decoration: none;

    border: 1px solid #AD1818;

    color: #AD1818;
}

.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

.servicess {   
    width: 1400px;

    margin-top: 150px;

    box-sizing: border-box;

    background-color: #121212;
}

.servicess h2 {
    padding-left: 127px;
    padding-top: 151px;
    padding-bottom: 34px;

    color: #FFFFFF;
}

.services {
    padding-bottom: 60px;
}

.services:nth-last-child(1) {
    padding-bottom: 150px;
}

.services__image {
    padding-left: 125px;

    margin-bottom: 15px;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.services__snap {
    width: 1100px;
    height: 41px;

    padding-left: 128px;

    color: #FFFFFF;
}

.project__descr {
    width: 1100px;
    height: 41px;

    margin-top: 15px;
    margin-bottom: 15px; 

    color: #121212; 
}

.fullscreenmode {
    height: 717px;
    background-image: url('../resources/poolimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    position: relative;
}

.fullscreenmode p {
    position: absolute;

    left: 125px;
    bottom: 60px;

    color: #FFFFFF;

    width: 443px;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -1px  
}